# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
MLP Basic/MLP Logic/bin/
MLP Basic/MLP Logic/obj/
MLP Basic/Unit Tests/bin/
MLP Basic/Unit Tests/obj/
MLP Basic/MLP GUI/bin/
MLP Basic/MLP GUI/obj/
MLP Basic/MLP Data/bin/
MLP Basic/MLP Data/obj/
MLP Basic/Graphics/bin/
MLP Basic/Graphics/obj/

